{% block libraryCSS %}
<style>
	.nav-category .nav-item .nav-link {
		align-items: center;
		color: #001e2b;
		display: flex;
		justify-content: space-between;
		padding: 8px 0;
	}
</style>
{% endblock %}
<div class="my-4">
	<h3 class="mb-4 h5">Danh mục</h3>
	<div class="card">
		<ul class="nav nav-category flex-column" id="categoryCollapseMenu">
			<li class="nav-item px-4 py-1 border-bottom">
				<a
					class="nav-link"
					data-bs-toggle="collapse"
					data-bs-target="#flush-collapseOne"
					aria-expanded="false"
					aria-controls="flush-collapseOne"
					role="button"
					><span style="font-weight: bold">Phụ kiện di động</span
					><iconify-icon icon="oui:arrow-right" width="24" height="24"></iconify-icon
				></a>
				<div
					class="accordion-collapse collapse"
					id="flush-collapseOne"
					data-bs-parent="#categoryCollapseMenu"
				>
					<div class="py-1">
						<ul class="nav flex-column">
							{% for item in DanhSachLoai %}
							<li class="nav-item">
								<a class="nav-link" href="/products/producttype/{{item.id}}/">{{item.TenLoai}}</a>
							</li>
							{% endfor %}
							<!-- <li class="nav-item">
                                <a class="nav-link" href="#">Phụ kiện Apple</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Dán màn hình</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Ốp lưng - bao da</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Sim 4G</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Cáp sạc</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Pin dự phòng</a>
                            </li> -->
						</ul>
					</div>
				</div>
			</li>
			<li class="nav-item px-4 py-1 border-bottom">
				<a
					class="nav-link"
					data-bs-toggle="collapse"
					data-bs-target="#flush-collapseTwo"
					role="button"
					aria-expanded="false"
					aria-controls="flush-collapseTwo"
					><span style="font-weight: bold">Phụ kiện laptop</span
					><iconify-icon icon="oui:arrow-right" width="24" height="24"></iconify-icon
				></a>
				<div
					class="accordion-collapse collapse"
					id="flush-collapseTwo"
					data-bs-parent="#categoryCollapseMenu"
				>
					<div class="py-1">
						<ul class="nav flex-column">
							<li class="nav-item">
								<a class="nav-link" href="#">item.TenLoai</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Balo, túi chống sốc</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Phần mềm</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Webcam</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Giá đỡ</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Thảm, lót chuột</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Củ sạc laptop</a>
							</li>
						</ul>
					</div>
				</div>
			</li>
			<li class="nav-item px-4 py-1 border-bottom">
				<a
					class="nav-link"
					data-bs-toggle="collapse"
					data-bs-target="#flush-collapseThree"
					role="button"
					aria-expanded="false"
					aria-controls="flush-collapseThree"
					><span style="font-weight: bold">Thiết bị chơi game</span
					><iconify-icon icon="oui:arrow-right" width="24" height="24"></iconify-icon
				></a>
				<div
					class="accordion-collapse collapse"
					id="flush-collapseThree"
					data-bs-parent="#categoryCollapseMenu"
				>
					<div class="py-1">
						<ul class="nav flex-column">
							<li class="nav-item">
								<a class="nav-link" href="#">PlayStation</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">AOG Ally</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">MSI Claw</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Bàn phím gaming</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Chuột gaming</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Tai nghe gaming</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Ghế gaming</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Tay cầm chơi game</a>
							</li>
						</ul>
					</div>
				</div>
			</li>
			<li class="nav-item px-4 py-1 border-bottom">
				<a
					class="nav-link"
					data-bs-toggle="collapse"
					data-bs-target="#flush-collapseFour"
					role="button"
					aria-expanded="false"
					aria-controls="flush-collapseFour"
					><span style="font-weight: bold">Thiết bị mạng</span
					><iconify-icon icon="oui:arrow-right" width="24" height="24"></iconify-icon
				></a>
				<div
					class="accordion-collapse collapse"
					id="flush-collapseFour"
					data-bs-parent="#categoryCollapseMenu"
				>
					<div class="py-1">
						<ul class="nav flex-column">
							<li class="nav-item">
								<a class="nav-link" href="#">Thiết bị phát sóng WiFi</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Bộ phát sóng WiFi di động</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Bộ kích sóng WiFi</a>
							</li>
						</ul>
					</div>
				</div>
			</li>
			<li class="nav-item px-4 py-1 border-bottom">
				<a
					class="nav-link"
					data-bs-toggle="collapse"
					data-bs-target="#flush-collapseFive"
					role="button"
					aria-expanded="false"
					aria-controls="flush-collapseFive"
					><span style="font-weight: bold">Thiết bị lưu trữ</span
					><iconify-icon icon="oui:arrow-right" width="24" height="24"></iconify-icon
				></a>
				<div
					class="accordion-collapse collapse"
					id="flush-collapseFive"
					data-bs-parent="#categoryCollapseMenu"
				>
					<div class="py-1">
						<ul class="nav flex-column">
							<li class="nav-item">
								<a class="nav-link" href="#">Thẻ nhớ</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">USB</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Ổ cứng di động</a>
							</li>
						</ul>
					</div>
				</div>
			</li>
			<li class="nav-item px-4 py-1 border-bottom">
				<a
					class="nav-link"
					data-bs-toggle="collapse"
					data-bs-target="#flush-collapseFix"
					role="button"
					aria-expanded="false"
					aria-controls="flush-collapseFix"
					><span style="font-weight: bold">Phụ kiện khác</span
					><iconify-icon icon="oui:arrow-right" width="24" height="24"></iconify-icon
				></a>
				<div
					class="accordion-collapse collapse"
					id="flush-collapseFix"
					data-bs-parent="#categoryCollapseMenu"
				>
					<div class="py-1">
						<ul class="nav flex-column">
							<li class="nav-item">
								<a class="nav-link" href="#">Dây đeo đồng hồ</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Dây đeo Airtag</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Phụ kiện tiện ích</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Phụ kiện ô tô</a>
							</li>
						</ul>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>
