{% extends "pages/base.html" %} {% block title %}Chi tiết đơn hàng{% endblock %} {% block content %}
<div class="m-3">
	<nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a class="link-underline link-underline-opacity-0" href="/">Trang chủ</a>
			</li>
			<li class="breadcrumb-item">
				<a class="link-underline link-underline-opacity-0" href="/user/receipt">Đơn hàng của bạn</a>
			</li>
			<li class="breadcrumb-item active" aria-current="page">Thông tin chi tiết đơn hàng</li>
		</ol>
	</nav>

	<div class="row">
		<div class="col-3">
			<div class="list-group">
				<a href="/user/" class="list-group-item list-group-item-action">Hồ sơ người dùng</a>
				<a
					href="/user/receipt/"
					class="list-group-item list-group-item-action active"
					aria-current="true"
					>Đơn hàng của bạn</a
				>
			</div>
		</div>
		<div class="col-9">
			<h2>Thông tin chi tiết đơn hàng</h2>
			{% load humanize %}
			<ul class="list-group list-group-flush">
				<li class="list-group-item">Ngày đặt hàng: <span class="text-primary">{{ hoaDon.NgayLap }}</span></li>
				<li class="list-group-item">Phí vận chuyển: <span class="text-primary">{{ hoaDon.PhiVanChuyen|floatformat:"0"|intcomma }}</span></li>
				<li class="list-group-item fw-bold">Tổng tiền: <span class="text-primary">{{ hoaDon.TongTien|floatformat:"0"|intcomma }}</span></li>
				
				{% if hoaDon.PhuongThucVanChuyen == 'express'%}
				<li class="list-group-item">
					Phương thức vận chuyển: <span class="text-primary">Giao hoả tốc</span>
				</li>
				{% elif hoaDon.PhuongThucVanChuyen == 'fast'%}
				<li class="list-group-item">
					Phương thức vận chuyển: <span class="text-primary">Giao nhanh</span>
				</li>
				{% elif hoaDon.PhuongThucVanChuyen == 'economic'%}
				<li class="list-group-item">
					Phương thức vận chuyển: <span class="text-primary">Giao tiết kiệm</span>
				</li>
				{% endif %}

				{% if hoaDon.PhuongThucThanhToan == 'ship_cod'%}
				<li class="list-group-item">
					Phương thức thanh toán: <span class="text-primary">Ship COD</span>
				</li>
				{% elif hoaDon.PhuongThucThanhToan == 'online_payment'%} -->
				<li class="list-group-item">
					Phương thức thanh toán: <span class="text-primary">Thanh toán trực tuyến</span>
				</li>
				{% endif %}

				{% if hoaDon.TrangThai == 'pending'%}
				<li class="list-group-item">
					Trạng thái: <span class="text-danger fw-bold">Chờ xác nhận</span>
				</li>
				{% elif hoaDon.TrangThai == 'processing'%}
				<li class="list-group-item">
					Trạng thái: <span class="text-danger fw-bold">Chờ giao hàng</span>
				</li>
				{% elif hoaDon.TrangThai == 'completed'%}
				<li class="list-group-item">
					Trạng thái: <span class="text-danger fw-bold">Đã nhận hàng</span>
				</li>
				{% elif hoaDon.TrangThai == 'cancel'%}
				<li class="list-group-item">
					Trạng thái: <span class="text-danger fw-bold">Đã hủy</span>
				</li>
				{% endif %}
			</ul>

			<table class="table table-striped">
				<thead>
					<tr class="table-success">
						<th scope="col" class="text-center text-capitalize">Hình ảnh</th>
						<th scope="col" class="text-center text-capitalize">Tên sản phẩm</th>
						<th scope="col" class="text-center text-capitalize">Đơn giá</th>
						<th scope="col" class="text-center text-capitalize">Số lượng</th>
						<th scope="col" class="text-center text-capitalize">Thành tiền</th>
					</tr>
				</thead>
				<tbody>
					{% load humanize %}
					{% for chiTiet in chiTietHD %}
					<tr>
						<td>
							{% load static %}
							<img
								class="d-flex m-auto"
								width="100"
								src="{% static '/img/' %}{{ chiTiet.MaSP.Anh }}"
								alt="{{ chiTiet.MaSP.Anh }}"
							/>
						</td>
						<td>{{ chiTiet.MaSP.TenSP }}</td>
						<td>{{ chiTiet.MaSP.GiaBan|floatformat:"0"|intcomma }}</td>
						<td>{{ chiTiet.SoLuong }}</td>
						<td>{{ chiTiet.ThanhTien|floatformat:"0"|intcomma }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			{% if hoaDon.TrangThai != 'cancel'%}
			<div class="m-3">
				<button
					type="button"
					class="btn btn-danger float-end"
					data-bs-toggle="modal"
					data-bs-target="#cancelOrder"
				>
					Hủy đơn hàng
			</button>
			{% endif %}
			</div>
		</div>
	</div>

	<!-- Modal cancel order -->
	<div
		class="modal fade"
		id="cancelOrder"
		tabindex="-1"
		aria-labelledby="exampleModalLabel"
		aria-hidden="true"
	>
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title text-danger">Cảnh báo</h5>
					<button
						type="button"
						class="btn-close"
						data-bs-dismiss="modal"
						aria-label="Close"
					></button>
				</div>
				<div class="modal-body">
					<p>Bạn có chắc chắc muốn hủy đơn hàng này?</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
					<a href="/user/cancelOrder/{{maHD}} " type="button" class="btn btn-primary">Tôi chắc chắn</a>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
