{% extends "pages/layout.html" %} {% block title %} Thể Loại {% endblock %} {%block libraryCSS %}
{% endblock %} {%block content %}
<div class="col-9 my-3" >
    <h2>Danh Sách Phiếu Nhập<a href="{% url 'LapPhieuNhap' %}" class="btn btn-primary" style="margin-left: 300px;">Thêm phiếu nhập</a></h2>
    <table class="table my-3">
        <thead>
          <tr>
            <th>Mã Nhân Viên</th>
            <th>Ngày Nhập</th>
            <th>Trạng Thái</th>
            <th>Tổng Tiền</th>
            <th></th>
            </tr>
        </thead>
        <tbody>
            {% for item in DM_PhieuNhap %}
            <tr>
            <td>{{ item.MaNV }}</td>
            <td>{{ item.NgayNhap }}</td>
            <td>{{ item.TrangThai }}</td>
            <td>{{ item.TongTien }}</td>
            <td>
                <a href="/dashboard/XemCTPN/{{item.id}}">Xem chi tiết</a>
                <a href="/dashboard/Xoa_PN/{{item.id}}" onclick="return confirm('Bạn có chắc chắn muốn xóa sản phẩm này?')">Xóa</a>
                <a href="#">Sửa</a>
            </td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
</div>
{% endblock %}